<div class="home_category__sh lg:px-40 mb-10 px-4">
  <div class="w-full h-[115px] overflow-hidden">
    <div class="swiper-container h-full">
      <div class="swiper-wrapper h-full">
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>
        <div class="swiper-slide bg-[#f1f8e9] rounded-lg">
          <a href="" class="flex flex-col items-center justify-center h-full">
            <img src="https://www.svgrepo.com/show/252065/organic-nutrition.svg" alt=""
              class="h-[70px] w-[70px] hover:-translate-y-1" style="transition: 0.5s;">
            <p class="font-bold">Organic</p>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>
